[include mainsail.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]
#This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PE9
dir_pin: PF1
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: PB10
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PE11
dir_pin: PE8
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: PE12
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PE13
dir_pin: !PC2
enable_pin: !PC0
microsteps: 16
rotation_distance: 8
#endstop_pin: PG8
#position_endstop: .75
endstop_pin: probe:z_virtual_endstop
position_max: 250
homing_speed: 20
position_max: 250
position_min: -10

[extruder]
step_pin: PE14
dir_pin: PA0
enable_pin: !PC3
microsteps: 8
rotation_distance: 7.556
nozzle_diameter: 0.3
filament_diameter: 1.750
heater_pin: PB1 # Heat0
sensor_pin:  PF4 # T1 Header
sensor_type: NTC 100K MGB18-104F39050L32
control: pid
pid_kp: 14.268
pid_ki: 0.638
pid_kd: 79.720
min_temp: 0
max_temp: 300
max_extrude_cross_section: 5
min_extrude_temp: 140
max_extrude_only_distance:100


[filament_motion_sensor encoder_sensor]
detection_length: 18 # The minimum length of filament pulled through the sensor to trigger a state change on the switch_pin Default is 7 mm.  
extruder: extruder # The name of the extruder section this sensor is associated with. This parameter must be provided.   
switch_pin: PE15 # changing the switch_pin name according to your motherboard
pause_on_runout: True
runout_gcode: FILAMENT_RUNOUT
#insert_gcode:
#event_delay:
#pause_delay:

[firmware_retraction]
#@retract_length: 1
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0.00
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 25
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#[extruder1]
#step_pin: PD15
#dir_pin: PE7
#enable_pin: !PA3
#heater_pin: PD14 # Heat1
#sensor_pin: PF5 # T2
#...

#[extruder2]
#step_pin: PD13
#dir_pin: PG9
#enable_pin: !PF0
#heater_pin: PB0 # Heat2
#sensor_pin: PF6 # T3
#...

[heater_bed]
heater_pin: PD12
sensor_pin: PF3 # T0
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 74.999
pid_Ki: 1.667
pid_Kd: 843.737
min_temp: 0
max_temp: 130


[fan]
pin: PE5

[heater_fan fan1]
pin: PE6

[heater_fan fan2]
pin: PC8

[controller_fan Enclosure]
pin: PB0
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
fan_speed: 1.0    #   The fan speed (expressed as a value from 0.0 to 1.0) that the fan will be set to when a heater or stepper driver is active The default is 1.0
idle_timeout: 120 # The amount of time (in seconds) after a stepper driver or heater was active and the fan should be kept running. The default is 30 seconds.
idle_speed: 1.0   # The fan speed (expressed as a value from 0.0 to 1.0) that the fan will be set to when a heater or stepper driver was active and before the idle_timeout is reached. The default is fan_speed.
#heater:
#stepper:          # Name of the config section defining the heater/stepper that this fan is associated with. If a comma separated list of heater/stepper names is provided here, then the fan will be enabled when any of the given 
                   # heaters/steppers are enabled. The default heater is "extruder", the default stepper is all of them.
[duplicate_pin_override]
pins: PB0

[temperature_fan SBC]
pin: PB0
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
sensor_type: temperature_mcu
#sensor_pin:
#max_delta:
min_temp: 10
max_temp: 80
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
target_temp: 45.0
max_speed: 1.0
min_speed: 0.15





[mcu]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.4:1.0
#serial: /dev/ttyAMA0
#baud: 115200
#restart_method: command

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

 

#[temperature_sensor mcu]
#sensor_type: temperature_mcu

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 50
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[bltouch]
sensor_pin: ^PA2
control_pin: PA1
#pin_up_touch_mode_reports_triggered: true
probe_with_touch_mode: true
x_offset: 32
y_offset: -2
z_offset: 0.975
speed: 5.0
samples: 2
sample_retract_dist: 3.5

[output_pin BEEP_PIN]
pin: EXP1_1
pwm: true
cycle_time: 0.001


[force_move]
# Enable commands that force potentially unsafe movement
enable_force_move: True

[homing_override]
axes: xyz
set_position_z: 0
gcode:
  G1 Z10 F600
  G28 Y
  G1 Y110 F9000
  G28 X
  G1 X117 Y117 F9000
  G28 Z

[exclude_object]   

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 10, 20
mesh_max: 185, 225
probe_count: 6, 6
    

[gcode_arcs]
resolution: 1.0 # An arc will be split into segments. Each segment's length will
                   # equal the resolution in mm set above. Lower values will produce a
                   # finer arc, but also more work for your machine. Arcs smaller than
                   # the configured value will become straight lines. The default is
                   # 1mm.

########################################
# TMC2208 configuration
########################################

[tmc2208 stepper_x]
uart_pin: PC13
run_current: 0.500
stealthchop_threshold: 30

[tmc2208 stepper_y]
uart_pin: PE3
run_current: 0.500
stealthchop_threshold:30

[tmc2208 stepper_z]
uart_pin: PE1
run_current: 0.500
stealthchop_threshold: 10

[tmc2208 extruder]
uart_pin: PD4
run_current: 0.62
stealthchop_threshold: 0

#[tmc2208 extruder1]
#uart_pin: PD1
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2208 extruder2]
#uart_pin: PD6
#run_current: 0.800
#stealthchop_threshold: 999999


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.127500, -0.012500, 0.157500, 0.297500
#*# 	-0.030000, 0.081250, 0.235000, 0.382500
#*# 	0.002500, 0.122500, 0.316250, 0.455000
#*# 	0.072500, 0.170000, 0.383750, 0.502500
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 53.5
#*# max_x = 176.5
#*# min_y = 68.0
#*# max_y = 161.99


[include autotune_tmc.cfg]
